<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>

  <title>ScaleX</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->


  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


</head>
<style>
  body { padding-bottom: 70px; }
</style>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper" style="background-color: white">
  <header class="main-header"  >


    <nav class="navbar navbar-static-top">

      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>ScaleX</b></a>
      </div>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/ansjin/ScaleX" target="_blank"><img src="images/github-transparent.png" width="17" height="17"></a></li>
          {{#if user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autoscaling Solutions <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/kubernetes">AWS Kubernetes</a></li>
              <li class="divider"></li>
              <li><a href="/awsautoscale">AWS Autoscale</a></li>
              <li class="divider"></li>
              <li><a href="/awskubernetes">AWS Kubernetes & Autoscale</a></li>
            </ul>
          </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/userinfo">User Configuration</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log-Out</a></li>
              </ul>
            </li>
          {{else}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign-In/Register <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/signin">Sign-In</a></li>
                <li class="divider"></li>
                <li><a href="/register">Register</a></li>
              </ul>
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <div class="container" style="background-color: white">
    {{#if error}}
      <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}


  </div> <!-- /container -->

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">

    <footer class="main-footer" class="text-center" style="margin-left: 0; bottom: 0px; color: white;  background-color: #297baa;">
      <strong> &copy; 2019 <a href="/" style="color: white;">ScaleX</a> </strong> All rights reserved.
    </footer>
  </nav>
</div>
</body>
</html>

